@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" id="MenuSection">
            <li id="ManageAccount">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>            
        </ul>
        @Scripts.Render("~/bundles/jquery")
        <script>
            $(document).ready(function () {
                $.ajax({
                    url: "../User/LoadMenuDetails",
                    type: "post",
                    success: function (data) {
                        $("#MenuSection").append(data);   
                    }
                }).done(function () {
                    $("#MenuSection").append('<li><a href="javascript:document.getElementById(\'logoutForm\').submit()">Log off</a></li>');
                });
            });
        </script>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
